[Unit]
Description=CybexOS welcome
PartOf=hyprland-session.target
After=quickshell.service

[Service]
ExecStart=/usr/bin/cybexos-welcome --autostart
Restart=no
